<!DO4gdgCTYPE html>
<html>
<head>
	<title>Debate</title>

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<br>
<center>
<div class="boxc">


   
      Nickname :{{post.nickname}}
  <br>Title :{{post.title}}
  <br>Category : {{post.category}}
  <br>Debate : {{post.debate}}

        
  
      
        <form action="{{url_for('add_comment', post_id=post.id)}}" method="post">
<br>
        <input type="text" class="" name="comment"> <br>
        <input type="submit" value="submit">
        <a href="{{url_for('my_feed')}}"><button type="button" style="color: black">Cancel</button></a>
      </form>
      <br>

  </div>
  <br>


  
 

   
</div>
<div class="comments_container" style="height: auto">
     
     {% for comment in post.comments %}
     <div class="box2">
      {{comment.comment}}
        </div>
        <br>
         {%endfor%}
        
      </div>
</center>




</body>
</html>