<!DOCTYPE html>
<html>
  <head>    
      <title>Homepage</title>

      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
    <!--<span><a href="{{url_for('sign_up')}}"> Sign Up     </a></span><span><a href="{{url_for('sign_in')}}"> Sign In </a></span> -->
      
      <center>
      <img src="{{url_for('static', filename= 'css/logo1.jpg')}}" class="logo">
      </center> 
&nbsp&nbsp<a href="{{url_for('post')}}"><button class="button"><span>Add a POST! </span></button></a>
<br>
<br>
  <div class="row">
    <div class="col-sm-2">


    <!--  <a href="{{url_for('sign_up')}}"><button type="button" style="font-style:Monospace;
      margin: 20px; font-size: 20px; " class="btn">Sign Up</button></a> -->

      <a href="{{url_for('category', button_name='Technology')}}"><button name="Technology" type="button" style="font-style:Monospace;margin: 15px; font-size: 20px; " class="btn">Technology</button></a>

     <a href="{{url_for('category', button_name='Politics')}}"><button name="Politics" type="button" style="font-style: Monospace;font-size: 20px;margin: 15px;" class="btn">Politics</button></a>

     <a href="{{url_for('category', button_name='Food')}}"><button name="Food" type="button" style="font-style: Monospace;font-size: 20px;margin: 15px;" class="btn">
     Food</button></a>
     
    

     <a href="{{url_for('category', button_name='Art')}}"><button name="Art" type="button" style="font-style: Monospace;font-size: 20px;margin: 15px;" class="btn">

     Art</button></a>
 
     <a href="{{url_for('category', button_name='Society')}}"><button name="Society" type="button" style="font-style: Monospace;font-size: 20px; margin: 15px" class="btn">
    Society</button></a>
     
     <a href="{{url_for('category', button_name='Other')}}"><button name="Other" type="button" style="font-style: Monospace;font-size: 20px; margin: 15px" class="btn">
     Other</button></a>

      
    </div>

    
      


  {% for post in posts %}
  <br>
  <div class="box">


  <ul>  
        <li>Title :{{post.title}}</li>
        <li>Category : {{post.category}}</li>
        <li>Debate : {{post.debate}}</li>
        </li>
        </ul>
        <br>
        <br>
        <a  href="{{url_for('debate', post_id=post.id)}}"> <button>Comment</button></a>

  

        

  

        
  </div>
 {%endfor%}
       <br>
       <br>
          
</html>