<!DOCTYPE html>
<html>
  <head>
  <style type="text/css">
   
.button {width: 180px;
  height: 50px;
font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-weigth: bold;}
  </style>
    
      <title>Homepage</title>

      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
  <a href="{{url_for('post')}}">Click here to add a new post!</a>
   <center><h1>Pro-Debates</h1></center> 
   <center><h2>Posts</h2></center>
   <a href="{{url_for('category', button_name='Technology')}}"><button name="Technology" type="button" class="button">Technology</button></a>
   <br>
   <a href="{{url_for('category', button_name='Politics')}}"><button name="Politics" type="button" class="button">Poitics</button></a>
   <br>
   <a href="{{url_for('category', button_name='Food')}}"><button name="Food" type="button" class="button">
   Food</button></a>
   <br>
   <a href="{{url_for('category', button_name='Art')}}"><button name="Art" type="button" class="button">
   Art</button></a>

   {% for post in posts %}
    {{post.title}}
   {% endfor %}
   
</html>