<!DOCTYPE html>
<html>
<head>
	<title>Post</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>	

<h1>Post a Debate</h1><br>Title:
<br>

<form action="{{url_for('post')}}", method="post">
<input type="text" name="title"><br>
Category:
<br>
<input type="radio" name="category" value="Technology">technology
<br>
<input type="radio" name="category" value="Politics">Politics
<br>
<input type="radio" name="category" value="Food">Food
<br>
<input type="radio" name="category" value="Art">art
<br>
<input type="radio" name="category" value="Sociaty">Sociaty
<br>
<input type="radio" name="category" value="Other">Other
<br> Debate:
<br>
<textarea placeholder="Type Here" name="debate"></textarea>
<br>
<input type="submit" class="button" name="post"><br>
</form>

<a href="{{url_for('my_feed')}}"><button type="button" class="button">Cancel</button></a>
   
</body>
</html> 