<!DOCTYPE html>
<html>
<head>
	<title>Post</title>
</head>
<body>
	<span><a href="{{url_for('my_feed')}}">Cancel</a></span> <span><a href="{{url_for('my_feed')}}">Post</a></span>	

<h1>Post a Debate</h1><br>Title:
<input type="text" name="Title"><br>
Category:
<br>
<input type="radio" name="category" value="Technology">technology
<br>
<input type="radio" name="category" value="Politics">Politics
<br>
<input type="radio" name="category" value="Food">Food
<br>
<input type="radio" name="category" value="Food">art
<br>
<input type="radio" name="category" value="Sociaty">Sociaty
<br>
<input type="radio" name="category" value="Other">Other
<br> Debate:
<br>
<textarea placeholder="Type Here"></textarea>
<br>
   <button type="button" class="button">Post</button>

   <button type="button" class="button">Cancel</button>
   
</body>
</html> 