<!DOCTYPE html>
<!--
    file: sing_in.html
-->
<html>
    <head>

        <title>Sign In</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

    </head>
    
        <ul>
            <li><a  href="{{url_for('my_feed')}}">Home</a></li>    
            <li><a  href="{{url_for('sign_up')}}">Sign Up</a></li>                     
             
        </ul>
        
        <h1>Sign In</h1>
        <form name="form" action="{{url_for('sign_in')}}" method="POST" onsubmit="return check(this)">
            <table border="2">
                <thead>
                    <tr>
                        <th>username: </th>
                        <th><input type="text" name="username" id="username" value="" size="40" /></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>password: </td>
                        <td><input type="password" name="password" id="password" value="" size="40" /></td>
                    </tr>
                </tbody>
            </table>
         <input type="submit" class="button" name="sign_up"> 
        </form>
    </body>
</html>